<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% if config.BRAND_BULMA_URL %}
    <link rel="stylesheet" href="{{ config.BRAND_BULMA_URL }}">
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
  {% endif %}

  {% block additional_static_files %}{% endblock %}
</head>
<body>
<main>
<section class="section">
  <div class="container">
    <div class="content">
      <div class="columns is-centered">
        <div class="column is-three-quarters">

          {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="notification{{ '' if category == 'message' else ' is-' + category }}">
                {{ message }}
            </div>
          {% endfor %}
        
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
</main>
</body>
</html>