{% extends 'base.html' %}

{% block content %}


{% if not common_tags %}

<div class="notification is-warning">
	No tags found. :(
</div>

{% else %}

<div class="field is-grouped is-grouped-multiline">
  {% for tag, count in common_tags %}
  <div class="control">
    <div class="tags has-addons are-large">
      <a class="tag is-primary" href="{{ url_for('.pads_with_tags', tag_path=tag.text) }}">{{ tag.text }}</a>
      <span class="tag">{{ count }}</span>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %}


{% endblock %}